@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    font-size: 14px;
}

body{
    background-color: var(--page);
}

.page{
    /* position: relative; */
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    font-family: Poppins;
    color: var(--noHighligh);
    font-weight: 400;
    display: grid;
    grid-template-columns: 160px auto;
    column-gap: 100px;
    padding-inline: 20px;
}

.text_title{
    color: var(--highlight);
    font-weight: 600;
}

/* .content{
    display: grid;
    grid-template-columns: 160px auto;
    column-gap: 100px;
} */

.sidebar{
    width: 160px;
    display: grid;
    grid-template-rows: 40px 720px 1fr;
    row-gap: 30px;
}

.sidebar__header{
    font-size: 1.3rem;
}

.sidebar__list{
    display: grid;
    grid-template-rows: 340px 340px;
    row-gap: 40px;
}

.list{
    display: grid;
    grid-template-rows: 20px 300px 20px;
    align-items: center;
}

.list__header{
    font-size: 0.8rem;
    font-weight: 600;
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.list__square{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

li{
    height: 32px;
}

.square{
    width: 32px;
    height: 32px;
    background-color: var(--background);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.highlight{
    background-color: var(--orange);
}


.bottom_square{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.list__line{
    width: 20px;
    border-color: var(--noHighligh) 20px;
}

.sidebar__bottom{
    height: 31px;
    position: relative;
}

.toggle-switch {
    position: relative;
    width: 51px;
}
  
label {
    position: absolute;
    width: 100%;
    height: 31px;
    background-color: var(--light);
    border-radius: 40px;
    cursor: pointer;
}
  
input {
    position: absolute;
    display: none;
}
  
.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    transition: 0.3s;
}
  
input:checked ~ .slider {
    background-color: var(--light);
}
  
.slider::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--highlight);
    transition: 0.3s;
}
  
input:checked ~ .slider::before {
    transform: translateX(20px);
    background-color: var(--highlight);
    box-shadow: none;
}

.bottom__text{
    height: 14px;
    position: absolute;
    right: 0;
    top: 13%;
}

.bottom__line{
    color: var(--noHighligh);
}

.mainContent{
    display: grid;
    grid-template-rows: 40px auto;
    row-gap: 40px;
}

header{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__search{
    background-color: var(--background);
    border-radius: 13px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.header__profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 11px;
}

.header__face{
    border-radius: 50%;
}

.profile__name{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.regular{
    font-weight: 400;
}

.imgContent{
    display: grid;
    grid-template-rows: 40px auto;
    row-gap: 28px;
    align-items: center;
}

.content__header{
    font-size: 2.8rem;
    font-weight: 600;
}

.content__cards{
    display: grid;
    grid-template-rows: 366px auto;
    row-gap: 61px;
}

.card_upper{
    display: flex;
    column-gap: 23px;
}

/*  blue card */

.card_big{
    width: 100%;
    max-width: 725px;
    height: 366px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.card__minutes{
    width: 46px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.rectangle__minutes{
    position: relative;
}

.minSev{
    position: absolute;
    top: 8%;
    left: 15%;
    font-size: 0.8rem;
    font-weight: 400;
}

.cardImage{
    aspect-ratio: 1/1;
    position: absolute;
    right: 0;
}

.rectangle{
    width: 265px;
    height: 393px;
    background: linear-gradient(90deg, hsl(186, 87%, 39%) 66.47%, rgba(13, 170, 188, 0.00) 100%);
    position: absolute;
}

.card__text{
    top: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 231px;
    position: absolute;
    font-size: 2.2rem;
    line-height: 120%;
}

.face_border{
    width: 60px;
    height: 60px;
    border: solid white 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.face{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.face_img{
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    object-fit: cover;
}



.text__face{
    display: flex;
    align-items: center;
    gap: 5px;
}

.text_small{
    position: relative;
    color: var(--highlight);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 160%;
}

.small{
    font-size: 0.9rem;
    line-height: 160%;
}

.border__check{
    position: absolute;
    bottom: 1px;
    right: 0;
}


/* оранжевая карта */

.card_small{
    width: 100%;
    max-width: 352px;
    background-color: var(--orange);
    /* width: 352px; */
    height: 366px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.rectandleOtange{
    display: none;
}

.cardOrange{
    top: -40px;
    aspect-ratio: 2.5/2.5;
}

.text_orange{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    row-gap: 20px;
}

/*  */

.cardLower_content{
    display: grid;
    grid-template-rows: 28px auto;
    row-gap: 27px;
}

.cardLower__header{
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: var(--highlight);
}

/* нижние карты */

.card_lower{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-columns: 259px 259px 259px 259px; */
    column-gap: 18px;
}

.card_man{
    height: 313px;
    background-color: var(--dark);
    border-radius: 8%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

/* фото на фон */

.card__bacground{
    object-fit: cover;
    height: 50%;
    overflow: hidden;
    background-color: var(--orange);
}

.bacground__image{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    
}
/* кнопка с минутами для нижних */
.lower__minutes{
    width: 46px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

/* аватарка для нижних */

.lower__face{
    position: absolute;
    right: 20px;
    bottom: 116px;
}

/* инфа нижние */

.lower__text{
    height: 109px;
    width: 211px;
    margin-left: 20px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 162%;
}

.lower__name{
    display: flex;
    align-items: center;
    gap: 8px;
}

:root {
    --light: #6C5ECF;
    --highlight: white;
    --page:hsl(249, 19%, 14%);
    --dark:hsl(225, 14%, 16%);
    --noHighligh: hsl(236, 7%, 54%);
    --orange: hsl(12, 100%, 66%);
    --background:hsl(249, 16%, 24%);
}

.humburger{display: none;}


/* 
@media screen and (max-width:1000px) {

    .page{
        width: 100%;
        /* padding-inline: 5%; */
    }
    .mainContent{width: 100%;}

    .rectangle{width: 150%;}

    .card_man{height: px;}

    .bacground__image{
        width: 140%;
    }
}

@media screen and (max-width: 900px) {

    .page{display: block;}

    .humburger{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 40px;
    }
    .sidebar{display: none}
    
}

@media screen and (max-width: 750px) {

    /* .card_big{max-width: 450px;} */

    /* .card_lower{
        grid-template-columns: 192.5px 192.5px 192.5px 192.5px;
        gap: 10px;
    } */

    .profile__name{display: none;}

}

@media screen and (max-width: 600px) {

    .orangeImage{width: 100%;}

    .card_upper{flex-direction: column;
        row-gap: 10px;}

    .content__cards{grid-template-rows:auto auto ;}

    .card_small{max-width: 725px;}

    .rectangle{width: 0;}
    
    header{display: flex;}
    
    .card_lower{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    
    .content__header{
        display: flex;
        justify-content: center;
    }
    
    .cardLower__header{justify-content: center;}
} */

.###{
    transition: all 1s ease-in-out;
}