@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    font-size: 14px;
}

body{
    background-color: #1F1D2B;
}

p{
    font-family: Poppins;
    color: #808191;
    font-weight: 400;
}

.page{
    width: 100%;
    max-width: 1440px;
    margin-inline: 20px;
    margin-top: 30px;
}

.content{
    display: grid;
    grid-template-columns: 160px 1180px;
    column-gap: 100px;
}

.sidebar{
    width: 160px;
    display: grid;
    grid-template-rows: 1fr 720px 1fr;
    row-gap: 30px;
    font-weight: 600;
}

.text_title{
    color: white;
    font-weight: 600;
}

.sidebar__header{
    font-size: 1.3rem;
}

.sidebar__list{
    display: grid;
    grid-template-rows: 340px 340px;
    row-gap: 40px;
}

.list{
    display: grid;
    grid-template-rows: 20px 300px 20px;
    align-items: center;
}

.list__header{
    color: #808191;
    font-size: 0.8rem;
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #808191;
    font-weight: 400;
}

.list__square{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

li{
    height: 32px;
    font-weight: 400;
}

.square{
    width: 32px;
    height: 32px;
    background-color: #363346;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.highlight{
    background-color:#FF7551 ;
}


.bottom_square{
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.list__line{
    width: 20px;
    border-color: #808191 20px;
}

.sidebar__bottom{
    height: 31px;
    display: flex;
    gap: 20px;
}

:root {
    --light: #6C5ECF;
    --dark:#FFFF;
    --link: #FFFF;
    --link-hover: #FFFF;
}
.toggle-switch {
    position: relative;
    width: 51px;
}
  
label {
    position: absolute;
    width: 100%;
    height: 31px;
    background-color: var(--light);
    border-radius: 40px;
    cursor: pointer;
}
  
input {
    position: absolute;
    display: none;
}
  
.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    transition: 0.3s;
}
  
input:checked ~ .slider {
    background-color: var(--light);
}
  
.slider::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--dark);
    transition: 0.3s;
}
  
input:checked ~ .slider::before {
    transform: translateX(20px);
    background-color: var(--dark);
    box-shadow: none;
}

.bottom__text{
    font-weight: 400;
    color: #808191;
    height: 14px;
}

.bottom__line{
    color: #808191;
}

.mainContent{
    display: grid;
    grid-template-rows: 40px auto;
    row-gap: 40px;
}

header{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__search{
    background-color: #363346;
    border-radius: 10px;
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.header__profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 11px;
}

.header__face{
    border-radius: 50%;
}

.profile__name{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.regular{
    font-weight: 400;
}

.imgContent{
    display: grid;
    grid-template-rows: 40px 796px;
    row-gap: 28px;
    align-items: center;
}

.content__header{
    font-size: 2.8rem;
    font-weight: 600;
}

.content__cards{
    display: grid;
    grid-template-rows: 366px 369px;
    row-gap: 61px;
}

.card_upper{
    display: flex;
}

.card_big{
    width: 725px;
    height: 366px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.cardImage{
    position: absolute;
    right: 0;
}

.rectangle{
    width: 265px;
    height: 393px;
    background: linear-gradient(90deg, #0DAABC 66.47%, rgba(13, 170, 188, 0.00) 100%);
    position: absolute;
}

.card__text{
    top: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    width: 231px;
    height: 144px;
    position: absolute;
    font-size: 2.2rem;
}

.face{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1F1D2B;
}