@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    font-size: 14px;
}

body{
    background-color: #1F1D2B;
    color: white;
    font-family: Poppins;
}

.page{
    width: 100%;
    max-width: 1200px;
    margin-inline: 20px;
    margin-top: 30px;
}

.content{
    display: grid;
    grid-template-columns: 160px 940px;
    column-gap: 100px;
}

.sidebar{
    width: 160px;
    display: grid;
    grid-template-rows: 1fr 720px 1fr;
    row-gap: 30px;
    font-weight: 600;
}

.sidebar__header{
    font-size: 1.3rem;
}

.sidebar__list{
    display: grid;
    grid-template-rows: 340px 340px;
    row-gap: 40px;
}

.list{
    display: grid;
    grid-template-rows: 20px 300px 20px;
    align-items: center;
}

.list__header{
    color: #808191;
    font-size: 0.8rem;
}

.list__bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 44px;
    color: #808191;
    font-weight: 400;
}

.list__square{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

dd{
    height: 16px;
    font-weight: 400;
}

.bottom__square{
    width: 32px;
    height: 32px;
    background-color: #363346;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.highlight{
    background-color:#FF7551 ;
}

.bottom_highlight{
    color: white;
    font-weight: 600;
}

.list__line{
    width: 20px;
    border-color: #808191 20px;
}

.sidebar__bottom{
    height: 31px;
    display: flex;
    column-gap: 20px;
}

:root {
    --light: #6C5ECF;
    --dark:#FFFF;
    --link: #FFFF;
    --link-hover: #FFFF;
}
.toggle-switch {
    position: relative;
    width: 51px;
}
  
label {
    position: absolute;
    width: 100%;
    height: 31px;
    background-color: var(--light);
    border-radius: 40px;
    cursor: pointer;
}
  
input {
    position: absolute;
    display: none;
}
  
.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    transition: 0.3s;
}
  
input:checked ~ .slider {
    background-color: var(--light);
}
  
.slider::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--dark);
    transition: 0.3s;
}
  
input:checked ~ .slider::before {
    transform: translateX(20px);
    background-color: var(--dark);
    box-shadow: none;
}

.bottom__text{
    font-weight: 400;
    color: #808191;
    height: 14px;
}

.bottom__line{
    color: #808191;
}

.mainContent{
    display: grid;
    grid-template-rows: 40px auto;
    column-gap: 40px;
}

header{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__search{
    background-color: #363346;
    border-radius: 10px;
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.header__profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 11px;
}

.header__face{
    border-radius: 50%;
}

.profile__name{
    display: flex;
    flex-direction: row;
    gap: 6px;
}